.one-exercise {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  height: 150px;
  flex-direction: row;
  margin: 10px;
  padding: 50px 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
}
.one-exercise:hover {
   transform: scale(1.05);
}

.one-exercise img {
  width: 40px;
  margin: 5px;
}
.exercise-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}


.exercise-details p{
  font-size: 12px;
  color: gray;
  width: 220px;
}

.exercise-details span {
  font-size: 12px;
}