.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 20px 0;

}
.login {
  text-align: center;
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.login-input {
    text-align: right;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #00cc66;
    margin: 20px 0;
    width: 70%;
}

.login-input:focus {
    outline: none;
}


.btn-login {
  cursor: pointer;
  background-color: #00cc66;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 30px;
  margin: 10px;
  font-weight: bold;
}

.btn-login:active {
    transform: scale(0.96);
}

.signup-link {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.btn-signup {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #00cc66;
  font-weight: bold;
}
